{% extends 'base.html' %}

{% block title %}Inventory list:{% endblock %}

{% block content %}
<div class="inventory-list-row row">
    <div class="inventory-list-col col-md-12">
        <h1>Inventory list:</h1>
        <ul>
            {% for inventory in inventories %}
            <li>
                <a href="{% url 'inventory_detail' inventory.pk %}">{{ inventory.product.name }} {{ inventory.quantity }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
